*{
    box-sizing: border-box;
}


.sectionheader{
  display: flex;         
  align-items: center;  
  justify-content: space-between; 
  padding: 10px 20px;
  background-color: beige;
  border: 2px solid black;
  
}

.fotologo img{
   width: auto;
   height: 200px;
   padding: 20px;
   display: block;
   border-radius: 50%;
}

.listanavegador{
    list-style-type: none;
    display: flex;
    justify-content: space-between;    
    width: 1000px;
}

a{
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 3, 4);         
    font-weight: bold;
}

body{
   background-color: rgb(193, 215, 208);
}

.cajacostado{
    background-color: bisque;
    width: 250px;
    border: 2px solid black;
    margin-top: 10px;
}

.licajacostado li{
    margin-top: 10px;
    margin-bottom: 10px;
}